@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'RobotoMono';
    src: url('/fonts/RobotoMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-display: swap;
}

body {
    font-family: 'RobotoMono';
}

.animate-blink {
    animation: blink-animation 0.5s cubic-bezier(0.4, 0, 0.6, 1) infinite alternate;
}

@keyframes blink-animation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
